@charset "utf-8";

*{
    margin: 0px;
    padding: 0px;
}   


/*=========== Página de contato ================*/


section.icones-contato{ /*icones de contato*/
    display: block;
padding: 0px;
margin: 0px;
    top: 220px;
}

 #esconde-lista { /*lista de opção de  menu*/
    display: none;
} 
 #abre-lista { /*lista de opção de  menu*/
    display: none;
} 
 #esconde-lista li {
    width: 200px;
    background-color: #4a90c97c;
 }
 #esconde-lista li:hover a{
    background-color: #44568d;
 }
 ul li:hover #esconde-lista {
    display: block;
    
}
#menu-bar{
    display: block;
    color: white;
    position: absolute;
    left: 100px;
    font-variation-settings:
  'FILL' 0,
  'wght' 700,
  'GRAD' 200,
  'opsz' 48;
}
/* posicao da lista de icones da home */

.documento-instrucao{
    position: absolute;
    top: 130px;
    width: 0px;
    margin: 0px;
}
